{% extends 'base.html' %}

{% block content %}
<div class="account-create-container">
    <form class="account-create-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="account-create-input-box">
            <label class="account-create-label">
                타입
            </label>
            <select class="account-create-input" name="type" required id="id_type">
                <option value="INCOME">수입</option>
                <option value="EXPENSE">지출</option>
            </select>
        </div>
        <div class="account-create-input-box">
            <label class="account-create-label">
                제목
            </label>
            <input class="account-create-input" type="text" name="title" required id ="id_title" maxlength="20">
        </div>
        <div class="account-create-input-box">
            <label class="account-create-label">
                설명
            </label>
            <input class="account-create-input" type="text" name="description" required id ="id_description">
        </div>
        <div class="account-create-input-box">
            <label class="account-create-label">
                날짜
            </label>
            <input class="account-create-input" type="datetime-local" name="date" required id ="id_date" >
        </div>
        <div class="account-create-input-box">
            <label class="account-create-label">
                금액
            </label>
            <input class="account-create-input" type="number" name="amount" required id ="id_amount">
        </div>
        <button class="account-transaction-btn" type="submit">등록</button>
    </form>
</div>
{% endblock %}