<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나만의 가계부</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/homePage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/accountPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/accountDetailPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/accountCreatePage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/loginPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/registerPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/goalCreatePage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/goalDetailPage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/goalDeletePage.css' %}">
</head>
<body>
<div class="base-container">
    <!-- navigation bar -->
    {% include "nav.html" %}

    <!-- content -->
    {% block content %}

    {% endblock content %}
</div>


<script async type="text/javascript" src="{% static 'js/goal.js' %}"></script>
</body>
</html>